<header class="subhead text-center text-white d-flex">
  <div class="container my-auto">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <h1 class="text-uppercase">
          <strong>BOARD</strong>
        </h1>
        <br/><br/><br/>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      
      <div *ngFor="let brd of board" class="post-preview">
        <span [innerHtml]="brd.contents"></span>
        <div class="regnm">
          <span>{{brd.regnm}}</span>
          <span>{{ brd.regdt | date :'yyyy-MM-dd' }}</span>
        </div>
        <hr class="hr_line">
      </div>

      <!-- Pager -->
      <div class="clearfix">
        <a class="btn btn-primary float-right" href="#">더보기 &rarr;</a>
      </div>
    </div>
  </div>
</div>

<hr class="hr_line">
