<header class="masthead text-center text-white d-flex">
  <div class="container my-auto">
    <div class="row" style="height:100%;">
      <div class="col-lg-10 mx-auto">
        <h1 class="text-uppercase">
          <strong>welcome to<br/>seowoo homepage</strong>
        </h1>
        <br/><br/><br/><br/><br/><br/><br/><br/><br/>
      </div>
      <div class="col-lg-8 mx-auto">
        <p class="text-faded mb-5"></p>
        <a class="btn btn-primary btn-xl js-scroll-trigger" pageScroll [pageScrollOffset]="57" [pageScrollDuration]="1000" [pageScrollEasing]="myEasing" [pageScrollInterruptible]="false" href="#about">Find Out More</a>
      </div>
    </div>
  </div>
</header>

<section class="bg-primary" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading text-white">SeoWoo Yang - {{month}}Month</h2>
        <hr class="light my-4">
        <p class="text-faded mb-4">서우의 성장 스토리</p>
        <a class="btn btn-light btn-xl js-scroll-trigger" pageScroll [pageScrollOffset]="57" [pageScrollDuration]="1000" [pageScrollEasing]="myEasing" [pageScrollInterruptible]="false" href="#services">Get Started!</a>
      </div>
    </div>
  </div>
</section>

<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">At Your Service</h2>
        <hr class="my-4">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <a routerLink="/board"><i class="fa fa-4x fa-diamond text-primary mb-3 sr-icons"></i></a>
          <h3 class="mb-3">Comment</h3>
          <a routerLink="/board"><p class="text-muted mb-0">댓글</p></a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <a routerLink="/album"><i class="fa fa-4x fa-newspaper-o text-primary mb-3 sr-icons"></i></a>
          <h3 class="mb-3">Album</h3>
          <a routerLink="/album"><p class="text-muted mb-0">앨범</p></a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fa fa-4x fa-paper-plane text-primary mb-3 sr-icons"></i>
          <h3 class="mb-3">Video</h3>
          <p class="text-muted mb-0">영상</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fa fa-4x fa-heart text-primary mb-3 sr-icons"></i>
          <h3 class="mb-3">Made with Love</h3>
          <p class="text-muted mb-0">You have to make your websites with love these days!</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="p-0" id="lovely">
  <div class="container-fluid p-0">
    <div class="row no-gutters popup-gallery">
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="assets/home/img/album/fullsize/k_20170706_01.jpg">
              <img class="img-fluid" src="assets/home/img/album/thumbnails/k_20170706_01.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Category
                  </div>
                  <div class="project-name">
                    Project Name
                  </div>
                </div>
              </div>
            </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="assets/home/img/album/fullsize/k_20170706_02.jpg">
              <img class="img-fluid" src="assets/home/img/album/thumbnails/k_20170706_02.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Category
                  </div>
                  <div class="project-name">
                    Project Name
                  </div>
                </div>
              </div>
            </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="assets/home/img/album/fullsize/k_20170706_03.jpg">
              <img class="img-fluid" src="assets/home/img/album/thumbnails/k_20170706_03.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Category
                  </div>
                  <div class="project-name">
                    Project Name
                  </div>
                </div>
              </div>
            </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="assets/home/img/album/fullsize/k_20170706_04.jpg">
              <img class="img-fluid" src="assets/home/img/album/thumbnails/k_20170706_04.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Category
                  </div>
                  <div class="project-name">
                    Project Name
                  </div>
                </div>
              </div>
            </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="assets/home/img/album/fullsize/k_20170706_05.jpg">
              <img class="img-fluid" src="assets/home/img/album/thumbnails/k_20170706_05.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Category
                  </div>
                  <div class="project-name">
                    Project Name
                  </div>
                </div>
              </div>
            </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="assets/home/img/album/fullsize/k_20170706_06.jpg">
              <img class="img-fluid" src="assets/home/img/album/thumbnails/k_20170706_06.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Category
                  </div>
                  <div class="project-name">
                    Project Name
                  </div>
                </div>
              </div>
            </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="assets/home/img/album/fullsize/k_20170706_07.jpg">
              <img class="img-fluid" src="assets/home/img/album/thumbnails/k_20170706_07.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Category
                  </div>
                  <div class="project-name">
                    Project Name
                  </div>
                </div>
              </div>
            </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="assets/home/img/album/fullsize/k_20170706_08.jpg">
              <img class="img-fluid" src="assets/home/img/album/thumbnails/k_20170706_08.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Category
                  </div>
                  <div class="project-name">
                    Project Name
                  </div>
                </div>
              </div>
            </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="assets/home/img/album/fullsize/k_20170706_09.jpg">
              <img class="img-fluid" src="assets/home/img/album/thumbnails/k_20170706_09.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Category
                  </div>
                  <div class="project-name">
                    Project Name
                  </div>
                </div>
              </div>
            </a>
      </div>
    </div>
  </div>
</section>

<!-- <section class="bg-dark text-white">
  <div class="container text-center">
    <h2 class="mb-4">Free Download at Start Bootstrap!</h2>
    <a class="btn btn-light btn-xl sr-button" href="http://startbootstrap.com/template-overviews/creative/">Download Now!</a>
  </div>
</section> -->
