<header class="subhead text-center text-white d-flex">
  <div class="container my-auto">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <h1 class="text-uppercase">
          <strong>ALBUM</strong>
        </h1>
        <br/><br/><br/>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <ul class="nav nav-tabs nav-justified">
      <li class="active" id="cateAll"><a (click)="fn_getCategoryAlbumList(0)">전체</a></li>
      <li *ngFor="let category of categorys;">
        <a id="cate{{category.categorycd}}" (click)="fn_getCategoryAlbumList(category.categorycd)">{{category.categorynm}}</a>
      </li>
    </ul>
    <div class="container gal-container clearfix">
      <div *ngFor="let alb of album; let i = index let last = last">
        <div [ngClass]="alb.title.indexOf('wide') > -1 ? 'col-md-8 col-sm-12 co-xs-12 gal-item' : 'col-md-4 col-sm-6 co-xs-12 gal-item'">
          <div class="box">
            <a href="#" data-toggle="modal" data-target="#{{i}}" (click)="fn_showImage(alb.brdid)">
              <img src="{{alb.files[1].savepath}}">{{alb.title}}
            </a>
            <div class="modal fade" id="{{alb.brdid}}" tabindex="-1" role="dialog" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                  <div class="modal-body">
                    <img src="{{alb.files[1].savepath}}">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Pager -->
    <div class="btn_div clearfix">
      <button class="btn btn-primary" (click)="fn_moreClick()">더보기 &rarr;</button>
    </div>

  </div>
</div>

<hr class="hr_line">